<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Express Sequelize Authentication Boilerplate</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="css/main.css" media="screen" title="no title">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="js/form.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>